body > footer {
  @extend .sans;
  font-size: .8em;
  color: $footer-color;
  text-shadow: lighten($footer-bg, 5) 0 1px;
  background-color: $footer-bg;
  @include background($footer-bg-front, $footer-bg-back);
  border-top: 1px solid $footer-border-top;
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 3em;
  @include border-bottom-radius(.4em);
  z-index: 1;
  a {
    @include link-colors($footer-link-color, $footer-link-color-hover, $visited: $footer-link-color);
  }
  p:last-child { margin-bottom: 0; }
  ul { display: none; }
  ul {
    @include horizontal-list(0);
    display: block;
    padding-top: .15em;
  }
  ul li {
    margin: 0;
  }
  li + li {
    border-left: 1px solid $nav-border-left;
    margin-left: .8em;
    a {
      padding-left: .8em;
      border-left: 1px solid $nav-border-right;
    }
  }
}
